langchain
langchain-core
langchain-community
pymupdf
sentence-transformers
chromadb
python-dotenv
langchain-groq
numpy
langchain-google-genai
langchain-groq
fastapi
uvicorn
sqlalchemy
asyncpg
alembic
pydantic-settings
pwdlib
python-multipart
pyjwt
pwdlib[argon2]